<!DOCTYPE html>
<html>

<head>
    <%- include('../header') -%>
</head>

<body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5 ">
        <div class="alert fixed-top alert-light w-25 mx-auto success" role="alert"
            style="text-align: center;box-shadow: 0px 0px 10px rgba(0,0,0,0.35); display: none;">
            <img src="/static/images/tick.png" style="width: 30px;margin:10px; ">
            更新成功!
        </div>
        <div class="alert fixed-top alert-light w-25 mx-auto danger" role="alert"
            style="text-align: center;box-shadow: 0px 0px 10px rgba(0,0,0,0.35); display: none;">
            <img src="/static/images/close.png" style="width: 30px;margin:10px; ">
            部分新增錯誤，已將成功部分新增上去
        </div>
        <%- include('sidebar') -%>
        <div class="content w-100 py-4 d-flex justify-content-center align-items-center">
            <div class="w-75  border rounded p-3 px-4 bg-white shadow h-100 d-flex flex-column justify-content-around">
                <div class="d-flex flex-column h-100">
                    <div class="d-flex my-3">
                        <a href="/admin/editPI/<%= teamId%>" class="ml-5 mr-3"
                            style="text-decoration:none;font-size: 1.3rem;  color: #003CFF;">
                            團隊資訊
                        </a>
                        <a href="/admin/editPF/<%= teamId%>" class="border-right border-left px-4"
                            style="text-decoration:none;font-size: 1.3rem;color: black;">
                            專題檔案
                        </a>
                    </div>
                    <div class="d-flex flex-row justify-content-start ml-5 my-3">
                        <div>
                            <img src="/static/images/group.png" style="width: 3rem;" alt="">
                        </div>
                        <p class="ml-3" style="font-size: 1.7rem;">
                            團隊資料設定
                        </p>
                    </div>
                    <div class="container overflow-auto flex-grow-1">
                        <div class="row d-flex flex-row px-5 pb-0">
                            <i class="fas fa-arrow-right mt-2"></i>
                            <p class="px-3 mb-2" style="font-size: 24px;">系級</p>
                            <input type="number" class="form-control w-auto" name="grade" value="<%= grade%>">
                        </div>
                        <div class="row d-flex flex-row px-5 pb-0">
                            <i class="fas fa-arrow-right mt-2"></i>
                            <p class="px-3 mb-2" style="font-size: 24px;">專題名稱</p>
                            <input type="text" class="form-control  w-auto pN" value="<%= projectName%>">
                        </div>
                        <div class="col px-5 pb-0">
                            <div class="row py-1">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="pl-3 mb-2" style="font-size: 24px;">專題成員</p>
                                <div class="col">
                                    <div class="col flex-grow-1" id="member">
                                        <div class="row mb-2 ">
                                            <input type="text" placeholder="隊長學號" class="form-control lA w-auto"
                                                value="<%= leaderAccount%>">
                                        </div>
                                        <% for(var i=0;i<memberAccount.length;i++) {%>
                                        <div class="row mb-2  mem">
                                            <input type="text" placeholder="成員學號" class="form-control mA w-auto"
                                                value="<%= memberAccount[i].account%>">
                                        </div>
                                        <% } %>
                                        <div class="row mb-2 mem">
                                            <input type="text" placeholder="成員學號" class="form-control mA w-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script src="/static/script/editingProjectInfo.js"></script>
                        </div>
                        <div class="col  px-5 pb-0">
                            <div class="row">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="pl-3 mb-2 " style="font-size: 24px;">指導老師</p>
                                <div class="col">
                                    <div class="row px-3 pb-2">
                                        <input type="text" class="form-control tN w-auto" value="<%= teacherName%>">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col px-5 pb-0">
                            <div class="row">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="px-3 mb-2" style="font-size: 24px;">簡介</p>
                                <div class="col">

                                    <div class="row" style="padding-left:30px;">
                                        <textarea name="" id="" cols="50" rows="4"
                                            class="form-control w-100 pI"><%= projectInfo%></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button class="btn btn-primary  mx-5 mt-3" id="btn">更新！</button>
                    <script src="/static/script/editPI.js"></script>
                </div>
            </div>
        </div>
    </div>
    <%- include('../footer'); -%>
</body>