<!DOCTYPE html>
<html>

<head>
    <%- include('../header') -%>
</head>

<body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5 ">
        <div class="alert fixed-top alert-light w-25 mx-auto success" role="alert" style="text-align: center;box-shadow: 0px 0px 10px rgba(0,0,0,0.35); display: none;">
            <img src="/static/images/tick.png" style="width: 30px;margin:10px; ">
                更新成功!
        </div>
        <%- include('sidebar') -%>
        <div class="content w-100 py-4 d-flex justify-content-center align-items-center">
            <div class="w-75  border rounded p-3 px-4 bg-white shadow h-100 d-flex flex-column justify-content-around">
                <div class="overflow-auto ">
                    <div class=" d-flex flex-row">
                        <a href="/admin/editPI/<%= teamId%>" class=" mt-4 ml-5 mr-3"
                          style="text-decoration:none;font-size: 1.3rem;  color: #003CFF;">
                          團隊資訊
                        </a>
                        <a href="/admin/editPF/<%= teamId%>" class=" mt-4 border-right border-left px-4"
                          style="text-decoration:none;font-size: 1.3rem;color: black;">
                          專題檔案
                        </a>
                    </div>
                    <div class="px-4 pb-3 pt-1 d-flex flex-row justify-content-start m-2">
                        <div>
                            <img src="/static/images/group.png" class="img-fluid ml-3 mt-5" style="width: 3rem;" alt="">
                        </div>
                        <p class="mx-2 my-2 mt-5" style="font-size: 1.7rem;">
                            團隊資料設定
                        </p>

                    </div>
                    <div class="container">
                        <div class="row d-flex flex-row px-5 pb-0">
                            <i class="fas fa-arrow-right mt-2"></i>
                            <p class="px-3 mb-2" style="font-size: 24px;">專題名稱</p>
                            <input type="text" style="width: 50%;" class="form-control pN" value="<%= projectName%>">
                        </div>
                        <div class="col px-5 pb-0">
                            <div class="row py-1">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="px-3 mb-2" style="font-size: 24px;">專題成員</p>
                            </div>
                            <div class="col " id="member">
                                <div class="row mb-2 px-3">
                                    <input type="text" style="width: 50%;" placeholder="隊長學號" class="form-control lA" value="<%= leaderAccount%>">
                                </div>
                                <% for(var i=0;i<memberAccount.length;i++) {%>
                                    <div class="row mb-2 px-3 mem">
                                        <input type="text" style="width: 50%;" placeholder="成員學號" class="form-control mA" value="<%= memberAccount[i].account%>">
                                    </div>
                                <% } %>
                                <div class="row mb-2 px-3 mem">
                                    <input type="text" style="width: 50%;" placeholder="成員學號" class="form-control mA">
                                </div>
                            </div>
                            <script src="/static/script/editingProjectInfo.js"></script>
                        </div>
                        <div class="col  px-5 pb-0">
                            <div class="row">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="px-3 mb-2 " style="font-size: 24px;">指導老師</p>
                            </div>
                            <div class="col">
                                <div class="row px-3 pb-2">
                                    <input type="text" style="width: 50%;" class="form-control tN" value="<%= teacherName%>">
                                </div>

                            </div>

                        </div>
                        <div class="col px-5 pb-0">
                            <div class="row">
                                <i class="fas fa-arrow-right mt-2"></i>
                                <p class="px-3 mb-2" style="font-size: 24px;">簡介</p>
                            </div>
                            <div class="row" style="padding-left:30px;">
                                <textarea name="" id="" cols="50" rows="4" class="form-control w-75 pI"><%= projectInfo%></textarea>
                                <button class="btn btn-primary  ml-auto mr-0 h-25 mb-0 mt-auto" id="btn">更新！</button>

                            </div>

                        </div>
                    </div>
                    <script src="/static/script/editPI.js"></script>
                </div>
            </div>
        </div>
    </div>
    <%- include('../footer'); -%>
</body>