<!DOCTYPE html>
<html>

<head>
  <%- include('../header') -%>
  <script>
    $(function(){
      $("button#delete").click((e) => {
            let list = $("input:checked")
            if (list.length == 0) return
            $(".modal-body > ul").empty()
            list.each(
                function () {
                    $(".modal-body > ul").append(`<li>${$(this).parent().text()}</li>`)
                }
            )
            $("#confirmDelete").modal()
        })
        $("button#confirm").click(e => {
            let length = $("input:checked").length
            $("input:checked").each(async function () {
                await $.ajax({
                    url: `/api/admin/team/storage/${$(this).attr("name")}`,
                    type: 'DELETE',
                    success: () => length--,
                    error: () => length--
                })
            })
            setInterval(() => {
                if (length == 0) window.location.reload()
            }, 100);
        })
    })
  </script>
</head>

<body style="height: 100vh;">
  <%- include('../nav') -%>
  <div class="wrapper mt-n5 ">
    <%- include('sidebar') -%>
    <div class="modal fade" tabindex="-1" role="dialog" id="confirmDelete">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">確認要刪除以下檔案?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body overflow-auto" style="max-height: 50vh;">
            <ul></ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger" id="confirm" data-dismiss="modal">刪除</button>
          </div>
        </div>
      </div>
    </div>
    <div class="content w-100 p-4 d-flex justify-content-center align-items-center">
      <div class="w-75 border rounded p-3 px-4 bg-white shadow h-100 d-flex flex-column justify-content-around">
        <div class=" d-flex flex-row w-50">
          <a href="/admin/editPI/<%= teamId%>" class="ml-5 mr-3"
            style="text-decoration:none;font-size: 1.3rem;  color: black;">
            團隊資訊
          </a>
          <a href="/admin/editPF/<%= teamId%>" class="border-right border-left px-4"
            style="text-decoration:none;font-size: 1.3rem;color: #003CFF;">
            專題檔案
          </a>
        </div>
        <div class="d-inline-flex justify-content-end w-100">
          <button type="button" class="btn btn-light" id="select"> 全選</button>
          <script>
            $("button#select").click(function () {
              let allchecked = true
              $(`input[type="checkbox"]`).each(function () {
                if (!$(this).prop(`checked`)) allchecked = false
              })
              $(`input[type="checkbox"]`).prop(`checked`, !allchecked)
            })
          </script>
          <button type="button" class="btn btn-light mr-0" id="delete">
            <i class="fas fa-trash"> </i>
          </button>
        </div>
        <div class="project-list border overflow-auto w-100 mb-0" style="height:400px">
          <form role="form">
            <% if (files.length == 0) { %>
              <div class="d-flex justify-content-center w-100 h-auto p-5">
                <h4 style="font-size:20px;">這個團隊目前沒有檔案 <i class="fas fa-coffee"></i></h4>
              </div>
              <% }else{ %>
                <% for(var i=0;i <files.length;i++) {%>
                  <div class="checkbox">
                    <label class="projects-item text-dark">
                      <input type="checkbox" class="mx-3" name="<%=files[i]._id%>"><%= files[i].filename%></label>
                  </div>
                  <% } %>
              <% } %>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../footer'); -%>
</body>