<!DOCTYPE html>
<html>

<head>
  <%- include('../header') -%>
  <script src="/static/script/admin/setTime.js" defer></script>
</head>

<body style="height: 100vh;">
  <%- include('../nav') -%>
  <div class="wrapper mt-n5 ">
    <%- include('sidebar') -%>
    <div class="content w-100 py-5 d-flex justify-content-center align-items-center">
      <div class="w-75 border rounded p-3 px-4 bg-white shadow h-100 d-flex flex-column justify-content-around">
        <div class=" d-flex flex-row">
          <a href="/admin/timeSetting" class=" mt-4 ml-5 mr-3"
            style="text-decoration:none; font-size: 1.5rem; color: black;">
            備份
          </a>
          <div class=" mt-4 border-right border-left px-4" data-toggle="modal" data-target="#saveFiles"
            style="text-decoration:none; font-size: 1.5rem; color: #003CFF;cursor: pointer;">
            專題歸檔
          </div>
          <div class=" mt-4 border-right border-left px-4" data-toggle="modal" data-target="#notifyTeacher"
            style="text-decoration:none; font-size: 1.5rem; color: #003CFF;cursor: pointer;">
            導師文件繳交期限
          </div>
        </div>
        <!-- 彈出視窗 -->
        <div class="modal fade" id="saveFiles" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                  <div class="row justify-content-center">
                    <h4 class="modal-title" id="exampleModalLongTitle">
                      <img src="/static/images/productivity.png" style="width: 45px;margin:5px;" alt="">
                      專題歸檔時程設定
                    </h4>
                  </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class='col-sm-6' style="text-align: center;">
                      <h5>日期選擇</h5>
                      <input type="text" name="date" class="form-control datepicker" id="dateArchive"
                        autocomplete="off">
                      </span>
                      <script>
                        $('#dateArchive').datepicker({
                          autoclose: true,
                          format: "yyyy-mm-dd",
                          startDate: "today",
                          calendarWeeks: true,
                          todayHighlight: true,
                          language: 'zh-TW',
                        }).on("changeDate", function (e) {
                          $(this).data("date", e.date)
                          console.log($(this).data("date"))
                        })
                        <% if (dateArchive!="") { %>
                        $('#dateArchive').datepicker('update', new Date(<%= dateArchive.getTime() %>))
                        <%}%>
                      </script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="container">
                  <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary rounded" data-dismiss="modal"
                      id="projecTimeSetting">設定！</button>
                    <script>
                      var edit = document.getElementById("projecTimeSetting");

                      edit.addEventListener("click", editor)
                      function editor() {
                        var date = $("#dateArchive").data("date");

                        $.post(`/api/admin/projecTimeSetting`, {
                          "date": date.toDateString()
                        });
                      }
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="notifyTeacher" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                  <div class="row justify-content-center">
                    <h4 class="modal-title" id="exampleModalLongTitle">
                      <img src="/static/images/productivity.png" style="width: 45px;margin:5px;" alt="">
                      導師文件繳交期限設定
                    </h4>
                  </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class='col-sm-6' style="text-align: center;">
                      <h5>日期選擇</h5>
                      <input type="text" name="date" class="form-control datepicker" id="reminder" autocomplete="off">
                      </span>
                      <script>
                        $('#reminder').datepicker({
                          autoclose: true,
                          format: "yyyy-mm-dd",
                          startDate: "today",
                          calendarWeeks: true,
                          todayHighlight: true,
                          language: 'zh-TW',
                        }).on("changeDate", function (e) {
                          $(this).data("date", e.date)
                          console.log($(this).data("date"))
                        })
                        
                        <% if (reminder!="") { %>
                        $('#reminder').datepicker('update', new Date(<%= reminder.getTime() %>))
                        <%}%>
                      </script>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="container">
                  <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary rounded" id="reminderTimeSetting">設定！</button>
                    <script>
                      var edit = document.getElementById("reminderTimeSetting");

                      edit.addEventListener("click", editor)
                      function editor() {
                        var date = $("#reminder").data("date");

                        $.post(`/api/admin/reminderTimeSetting`, {
                          "date": date.toDateString()
                        });
                      }

                    </script>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" d-flex flex-row mt-3 mb-3">
          <p class="ml-5 mb-0" style="font-size: 24px;">下次備份：</p>
          <p class="ml-1 mb-0 font-weight-bold" style="font-size: 24px;" id="showBackUpTime">
            <%= nextBackupDay.toLocaleDateString() %></p>
          <button type="button" class="btn btn-warning ml-4" data-toggle="modal" data-target="#backup">設置</button>
        </div>
        <div class="modal fade" id="backup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="false">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <div class="container">
                  <div class="row justify-content-center">
                    <h4 class="modal-title" id="exampleModalLongTitle">
                      <img src="/static/images/productivity.png" style="width: 45px;margin:5px;" alt="">
                      備份時程設定
                    </h4>
                  </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class='col-sm-6' style="text-align: center;">
                      <h5>備份週期</h5>
                      <input type="number" id="dateBackup" name="date" class="form-control datepicker"
                        value="<%= routine %>" autocomplete="off">
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="container">
                  <div class="row justify-content-center">
                    <button type="button" class="btn btn-primary rounded" data-dismiss="modal" id="backupTimeSetting"
                      onclick="backUpTime()">設定！</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="project-list mb-4 ml-5 mr-5 overflow-auto flex-grow-1">
          <% for(var i=0; i<data.length; i++) {%>
          <div class="checkbox">
            <label class="projects-item" style="color: black;">
              <input type="checkbox" class="m-2 " id="<%= data[i]._id %>" autocomplete="off">
              <p style="font-size: 20px;" class="mt-3">備份紀錄</p>
              <div class="mt-3 ml-4">
                <p style="font-size: 20px;"><%= data[i].date.toLocaleDateString() %></p>
              </div>
            </label>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <%- include('../footer'); -%>
</body>