<!DOCTYPE html>
<html>

<head>
    <%- include('header') -%>
    <link rel="stylesheet" href="/static/stylesheets/common.css">
</head>

<body style="height: 100vh;">
    <%- include('nav') -%>
    <div class="d-flex align-items-center h-100 justify-content-center">
        <div class="container" >
            <div class="row "style="height: 427px;">
                <div class="col d-flex align-items-center h-100 justify-content-center">
                    <img class="profileicon" src="<%= image %>">
                </div>
                <div class="col d-flex flex-column align-items-left justify-content-around" >
                    <h1 class="row">
                        姓名：<span class="" ><%= name %></span> 同學
                    </h1>
                    <h1 class="row" >
                        系級：<span><%= grade %></span> 級
                    </h1>
                    <h1 class="row" >
                        指導教授：<span><%= professor %></span> 教授
                    </h1>
                </div>
            </div>
            <h1 class="row " style="margin: 20px;">
                個人簡介：
                
            </h1>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="font-size:40px;"></textarea>
        </div>

    </div>

    <%-include('footer'); -%>
</body>