<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header') -%>
</head>

<body>
    <%- include('nav') -%>
    <div class="container-fluid mt-n5 py-5" style="height: 90vh;">
        <div class="container h-100">
            <div class="card border-0 h-100">
                <div class="card-header bg-transparent px-0 border-0">
                    <ul class="nav nav-tabs card-header-tabs mx-0">
                        <li class="nav-item  ml-0">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">DISCO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">海報</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="false">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body border rounded-bottom rounded-right p-5 overflow-auto h-100">
                    <div class="tab-content " id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3>專題成員</h3>
                            <div class="my-3">A1065523、A1065523、A1065523</div>
                            <h3>指導老師</h3>
                            <div class="my-3">張寶貝</div>
                            <div class="w-100 h-auto p-4 border rounded discuss">
                                <h4>討論區</h4>
                                <div class="content">
                                    <div class="media m-3">
                                        <a href="<%= name %>"><img src="<%= image %>" class="mr-3 messageicon"
                                                alt="avatar"></a>
                                        <div class="media-body">
                                            <h5 class="m-0"><a href="<%= name %>"><%= name %></a></h5>
                                            <div style="font-size:0.2rem">2020/05/20</div>
                                            <span>123</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mt-3">
                                    <input class="form-control"></input>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-dark" type="button" id="submit"><img
                                                src="/static/images/enter.svg" class="img-fluid"
                                                style="width: 1rem;"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h1>海報</h1>
                            <img src="https://miro.medium.com/max/2764/1*B4X2Gzt2QIDCB2ra2t0OtQ.jpeg" class="img-fluid"
                                alt="">
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('footer') -%>
</body>

</html>