<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header') -%>
</head>

<body>
    <%- include('nav') -%>
    <div class="container-fluid mt-n5 py-5" style="height: 90vh;">
        <div class="container h-100">
            <div class="card border-0 h-100 bg-transparent">
                <div class="card-header px-0 border-0 bg-transparent">
                    <ul class="nav nav-tabs card-header-tabs mx-0">
                        <li class="nav-item  ml-0">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true"><%= project.name %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">海報</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " id="profile-tab" data-toggle="tab" href="#forum" role="tab"
                                aria-controls="profile" aria-selected="false">討論區</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body border rounded-bottom rounded-right p-5 overflow-auto h-100 bg-white">
                    <div class="tab-content h-100 " id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col">
                            <h4>系級</h4>
                                <h5 class="m-4"><%= project.grade %> 級</h5>
                                </div>
                                <div class="col">
                                    <h4>專題成員</h4>
                                    <ul class="my-3 list-group list-group-flush">
                                        <% for(var i=0; i<members.length; i++) {%>
                                            <li class="list-group-item"><a href="/profile/<%= members[i]['id']%>">學號: <%= members[i].account%> &nbsp&nbsp 姓名:<%= members[i].name%></a></li>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h4>指導老師</h4>
                                    <ul class="my-3 list-group list-group-flush">
                                        <li class="list-group-item"><a href="/profile/<%= teahcer.id%>"><%= teahcer.name%> 老師</a></li>
                                    </ul>
                                </div>
                            </div>
                            <h4>簡介</h4>
                            <div class="mt-5">
                                <span><%= project.info %></span></br>
                            </div>
                            
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h1>海報</h1>
                            <img src="https://miro.medium.com/max/2764/1*B4X2Gzt2QIDCB2ra2t0OtQ.jpeg" class="img-fluid"
                                alt="">
                        </div>
                        <div class="tab-pane fade w-100 h-100" id="forum" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="d-flex flex-column justify-content-between rounded w-100 h-100">
                                <div id="forum_content" class="w-100 overflow-auto h-75">
                                    <% for(var i=0; i<comments.length; i++) {%>
                                        <div class="content">
                                            <div class="media m-3">
                                                <a ><img src="<%= image %>" class="mr-3 messageicon"
                                                        alt="avatar"></a>
                                                <div class="media-body">
                                                    <h5 class="m-0"><a href="/profile/<%= comments[i].SenderID %>"><%= comments[i].sender.name %></a></h5>
                                                    <div id='time' style="font-size:0.2rem"><%= new Date(comments[i].time).toLocaleString() %></div>
                                                    <span><%= comments[i].content %></span>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                                <div class="input-group mt-3 w-100">
                                    <input class="form-control"></input>
                                    <div class="input-group-append" onclick="commentBtn()">
                                        <button class="btn btn-outline-dark" type="button" id="submit"><img
                                                src="/static/images/enter.svg" class="img-fluid"
                                                style="width: 1rem;" ></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/static/script/project.js"></script>
    <%- include('footer') -%>
</body>

</html>