<!DOCTYPE html>
<html>
  <head>
    <%- include('../header') -%>
  </head>
  <link rel="stylesheet" href="/static/stylesheets/conference.css" />

  <body style="height: 100vh;">
    <%- include('../nav') -%>
    <div class="wrapper mt-n5">
      <%- include('sidebar') -%>
      <div class="container-fluid p-3">
        <div id="chat" class="h-100 bg-transparent d-flex flex-column" >
          <div id="messages" class="flex-grow-1 card-body d-flex flex-column-reverse overflow-auto">
            
          </div>
          <div class="justify-content-center d-flex py-3">
            <div class="input-group m-3">
              <input type="text" class="form-control" aria-describedby="message" id="message" >
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="submit"><i class="fas fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const id = "<%= id %>";
      const teamid = "<%= teamid %>"
    </script>
    <script src="/static/script/socket.io.js"></script>
    <script src="/static/script/conference.js"></script>
    <%- include('../footer'); -%>
  </body>
</html>
