<!DOCTYPE html>
<html>

<head>
  <%- include('../header') -%>
</head>

<body style="height: 100vh;">
  <%- include('../nav') -%>
  <div class="wrapper mt-n5">
    <%- include('sidebar') -%>
    <div class="content w-100">
      <div class="modal fade" aria-hidden="true" tabindex="-1" role="dialog" style="top: auto;" id="addEvent">
        <div class="modal-dialog" role="document">
          <div class="modal-content" >
            <div class="modal-header p-2">
              <div class="container ">
                <div class="row">
                  <div class="col-2 ml-5">
                    <img src="/static/images/grade_person.png" class="img-fluid ml-5 mt-1" alt="">
                  </div>
                  <div class="col">
                    <h4 class=" px-4 mt-3">指導學生個人成績</h4>
                  </div>
                </div>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div id="hiderec">
              <!-- 新增學生 -->
            </div>

            <div class="dropdown-divider"></div>
            <div class="row justify-content-center align-items-center py-2">
              <div class=" col-2 ">
                <img src="/static/images/grade.png" class="img-fluid" alt="">
              </div>
              <div class="mx-4">
                <h4 class=" text-center ">專題總成績</h4>
              </div>
              <div class=" py-2 justify-content-center" style="width: 15%;">
                <% if (teamGrade=="尚未評") { %>
                <input class="form-control " type="text" placeholder="分數" id="teamscore">
                <% } else { %>
                <input class="form-control " type="text" placeholder="<%= teamGrade %>" value="<%= teamGrade %>" id="teamscore">
                <% } %>
                </div>
            </div>

            <div class="container py-3">
              <div class="row justify-content-center">
                <button type="button" class="btn btn-primary rounded" id="push">提交</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class=" d-flex justify-content-center" style=" width: 100%; height: auto; ">
        <div class="manageBg bg-white mx-5 my-4">

          <div class="py-2 d-flex flex-row justify-content-center border-bottom">
            <div>
              <img src="/static/images/grade_person.png" class="img-fluid ml-3 mt-2" style="width: 3rem;" alt="">
            </div>

            <h4 class="mx-2 my-3 ">
              指導學生個人成績
            </h4>
          </div>
          <div class="container py-3" id="rec">
            <!-- 動態新增人 -->
          </div>
          <div class="dropdown-divider"></div>
          <div class="row justify-content-center align-items-center py-2">
            <div class=" col-2 ">
              <img src="/static/images/grade.png" class="img-fluid" alt="">
            </div>
            <div class="mx-4">
              <h4 class=" text-center ">專題總成績</h4>
            </div>
            <div class="">
              <p class="px-3" style="font-size: 24px;"><%= teamGrade %>分</p>
            </div>
          </div>
          <div class="pb-3 row justify-content-center" id="refreshbtn">
            <button type="button" class="btn btn-primary rounded" data-toggle="modal"
              data-target="#addEvent">更新</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="/static/script/judge.js"></script>

  <%- include('../footer'); -%>
</body>